@media screen and (max-width: 480px) {

    .navbar {
        align-items: center;
        justify-content: center;
    }
    
    .nav-item{
        font-size: 0.8rem;
        padding: 05px;
    }

    .container-header {

        justify-content: center;
        height: 120px;

        padding: 20px 50px;
    }

    .main {
        flex-direction: column;

    }

    .main-col1,
    .main-col2 {
        width: 100%;
    }

    .main-col1,
    figure {
        justify-content: center;
    }

    /* .figure-main{
        width: 50%; 
        height: 50%;  
    } */

    .img-burguer {
        width: 100%;
        height: 100%;
    }

    .img-price {
        width: 30%;
        height: 35%;
    }

    .main-col2 {
        align-items: center;
    }

    .sec {
        text-align: center;
    }

    .card {
        width: 90%;
    }

    .sec-2 {
        width: 100%;
    }

    .section-title {
        text-align: center;
    }

    .section-description {
        padding: 30px;
    }

    .sec-4 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sec4-col1,
    .sec4-col2 {
        width: 100%;
    }

    .container-form {
        width: 100%;
    }

    .container-form-input {
        flex-wrap: wrap;
    }

    input[type="text"],
    input[type="email"],
    input[type="subject"],
    input[type="tel"] {
        width: 100%;
        text-align: center;
    }

    .container-form-input .main-button {
        width: 100%;
    }

    .container-footer {
        flex-direction: column;
    }

    .footer-row1 {
        flex-direction: column;
        gap: 25px;
    }

    .col-footer-2 p{
        font-size: 0.5rem;
    }

    .footer-title {
        width: 100%;
    }

    .footer-description {
        width: 100%;
    }

    .footer .footer-row1 .footer-col1,
    .footer-col2,
    .footer-col3 {
        width: 100%;
    }

    .footer-social {
        flex-direction: row;
        justify-content: center;
    }
}