@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --AMARELO: RGB(255,194,52);
    --MARROM: RGB(65,31,9);
    --VERMELHO: RGB(223,28,28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 30px;
}

.nav-bar-container{
    background-color: var(--AMARELO);
    padding: 20px;

}

.ancora-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;
    text-decoration: none;
}

.titulo-nav{
    color: var(--AMARELO);
    font-size: 50px;
}

.nav-item{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}


.main-container{
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    padding: 20px 20px;
    gap: 10px;
    background-color: var(--AMARELO);
    align-items: center;
    justify-content: center;
}

.main-col1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 20px;
    flex-direction: column;
    gap: 25px;
}


.main-col1 h1{
    color: var(--dark);
    font-size: 2.5rem;
}

.figure-main{
    position: relative;   
}

.img-price{
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-button{
    padding: 20px 50px;
    border: none;
    background-color: var(--VERMELHO);
    color: white;
    border-radius: 5px;
}

.sec-1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;

}

.sec1-m-title{
    background-color: var(--AMARELO);
    padding: 10px;
    
}

.sec1-m-title h5{
    color: var(--dark);
    font-size: 0.8rem;
}

.section-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.cards-sec-1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
     
    gap: 30px;
}

.card{
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card-inside{
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sec-2{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;

    padding: 30px;
}

.sec-2 h2{
    color: var(--dark);
    font-size: 40px;
}

form {
    width: 80%;
    
    /* padding: 20px; */
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.container-form-input{
    display: flex;
    gap: 5px;
}

input[type="text"],
input[type="email"], 
input[type="subject"], 
input[type="tel"]{
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--AMARELO);
}

.container-form-input .main-button{
    width: 50%;
}

/* textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
} 

textarea{
    height: 150px;
}*/



.container-footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-image: url("../img/rodape/fundo.png");
    width: 100%;
    background-size: cover;
    color: gray;

    padding: 100px;

}

.footer-row1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px white;
}

.col-footer-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.footer-logo{
    width: 75%;
    height: 75%;
}

.container-footer h5{
    color: white;
}


.col-footer-1 p {
    display: flex;
    gap: 10px;
}


.col-footer-1 p img{
    width: 20px;
    height: 25px;
}

.col-footer-1 a img{
    width: 60px;
    height: 60  px;
    display: inline;
    padding: 5px;
}

.col-footer-2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    border: 2px solid white;
    flex-direction: column;
    align-self: center;
}

.icon-text{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-footer-2 img{
    width: 1.5rem;
    height: 20%;
    padding: 5px;
}


.ancora-footer{
    display: flex;
    flex-direction: column;
}

.ancora-footer a{
    text-decoration: none;
    color: gray;
}

.arrow {
    position:fixed;
    bottom: 0%;
    right: 0px;
    z-index: 99;
}

.arrow a img{
    height: 75px;
    width: 75px;
    border-radius: 100%;
    justify-content: right;
}